/* style.css */
body {
    margin: 0px;
    padding: 0px;
    background-color: #164431;
    height: 100%;
    width: 100%;
}

div.sweeper {
    width: 25px;
    height: 25px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    background-color: white;
    font-weight: bold;
    display: inline-block;
    font-family: cursive;
    color: #6A43FD;
    position: fixed;
    -webkit-animation: mymove 20s infinite;
    -moz-animation: mymove 20s infinite;
    animation: mymove 20s infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}

div.sweeper div {
    display: table-cell;
    text-align: center;
    color: black;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
}

div.center {
    width: 100%;
    height: auto;
    text-align: center;
    color: #6A43FD;
    vertical-align: middle;
    margin-top: 100px;
    font-family: cursive;
    font-size: x-large;
    display:block;
}

div.layer {
    width:100%;
    margin-top: 5%;
}

div.layer div {
    text-align: center;
    width: 20%;
    background: #fff;
    color: #000;
    margin: 10px auto;
    /*position: absolute;*/
    border: 10px solid #333;
    border-radius: 20px;
}

div.layer div span {
    display: block;
    width: 100%;
    padding: 15px 0 0 0;
    font-size: 2em;
    height: 50px;
    cursor: pointer;
}

.hover{
  -webkit-filter: blur(5px);
}

div.top {
}
div.middle {
}
div.bottom {
}

@-webkit-keyframes mymove {
    0%  {background-color:#7B3E3E; left:25px; top:25px;}
    25%  {background-color:#447B3E; left:100%; top:25px;}
    50%  {background-color:#3E7B7B; left:100%; top:100%;}
    75%  {background-color:#3E3F7B; left:25px; top:100%;}
    100% {background-color:#7B3E79; left:25px; top:25px;}
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}


@-moz-keyframes mymove {
    0%  {background-color:#7B3E3E; left:25px; top:25px;}
    25%  {background-color:#447B3E; left:100%; top:25px;}
    50%  {background-color:#3E7B7B; left:100%; top:100%;}
    75%  {background-color:#3E3F7B; left:25px; top:100%;}
    100% {background-color:#7B3E79; left:25px; top:25px;}
}
@-moz-keyframes rotate {
    from {-moz-transform: rotate(359deg);}
    to   {-moz-transform: rotate(0deg);}
}

@keyframes mymove {
    0%  {background-color:#7B3E3E; left:25px; top:25px;}
    25%  {background-color:#447B3E; left:100%; top:25px;}
    50%  {background-color:#3E7B7B; left:100%; top:100%;}
    75%  {background-color:#3E3F7B; left:25px; top:100%;}
    100% {background-color:#7B3E79; left:25px; top:25px;}
}


@keyframes rotate {
    from {transform: rotate(359deg);}
    to   {transform: rotate(0deg);}
}
